<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/hdd/0/level/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="448" />
    <add key="mainForm.Location.Y" value="40" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/hdd/0/factor/0/values" value="" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAJPc/e52Y8gdDwaGA/8BHLU7igwAAAA=" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/level/0/values" value="H4sIAAAAAAAEAJOf8u52Y8gdDwaGA/8B7WticAwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEAJPc/e52Y8gdDwaGA/8BHLU7igwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEABPZOft2Y8gdDwaGA/8buh2ZGIAgoWObEwD9UqDdGAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEABPZOft2Y8gdDwaGA/8buh2ZGIDAqPWGAwCCIQyhGAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALN+MPt2Y8gdDwaGA/8jUxyZGIDgw0FVewBvShqcGAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAGt4VnO7MeSOBwPDgf+yVw4yMgDBuR1vHQHdDQ4TGAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAJvHW3u7MeSOBwPDgf//1xxkZACC0FtCTgD/3uqoGAAAAA==" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAJtpUnu7MeSOBwPDgf8sbQcZGYDg656tjgDkgv0pGAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAHsYMfF2Y8gdDwaGA//3JK5lZAADeycAJMorIRgAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAGNpmHi7MeSOBwPDgf8zrdYyMoCBvRMAS9gjiBgAAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAGNpmHi7MeSOBwPDgf8zrdYyMoCBqxMAN0nzXRgAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAHu/bOLtxpA7HgwMB/6v+7qRkQEIPq077gQAMmEyNBgAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEABM7N/F2Y8gdDwaGA//bY9czMgCB6WFRVwBwV+r7GAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEADP7OvF2Y8gdDwaGA//Tl29kZAAC08OirgCe1GlqGAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEACvJmnS7MeSOBwPDgf+aRhsZGYBgkesKBwBtgyxFGAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEACvJmnS7MeSOBwPDgf+aRhsZGYCAPyTNAQAycbCyGAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAAufOOl2Y8gdDwaGA//duDcyMgDB87XMdgBOmeVgGAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAAufOOl2Y8gdDwaGA//duDcyMkABAJRgoRAYAAAA" />
  </appSettings>
</configuration>